extends layout

block content
    div(data-ng-controller="LoginController")
        a.btn.btn-default(data-ng-click="authenticate('/order')") Order
        a.btn.btn-default(data-ng-click="register()") Register
        .row
            .col-md-4
                #my_camera(style='width:320px; height:240px;')
            .col-md-4.col-md-push-4
                #my_result
        div {{test}}